<tbody>
    <% @songs.each do |t| %>
        <tr>
          <td><%= t.title %></td>
          <td><%= t.release_year %></td>
          <td><%= t.genre %></td>
          <td><%= t.artist_name %></td>
        </tr>
      <% end %>
      </tbody>